body, html {
	height: 100%;
	margin: 0;
}
.link {
	color: #fff;
}
.head {
	height: 100px;
	width: 100%;
	background-color: black;
}

.body {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding: 20px;

}

.pic {
	height: 20%;
}

.foot {
	height: 100px;
	width: 100%;
	background-color: black;

}