body, html {
    height: 100%;
    margin: 0;
}
* {
	box-sizing: border-box;
}

.head {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    height: 15%;
    width:100%;
}

.tops {
	height: 100%;
	width: 30%;
}

.red {
    background-color: red;
}

.blue { 
    background-color: blue;
}

.black {
    background-color: black;
}
    
p { 
	padding: 20px;
	text-indent: 20px;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.container {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 15px;
}

.left {
	background-color: red;
	height: 100%;
	width: 30%;
}

.right {
	background-color: blue;
	height: 100%;
	width: 70%;
}

.foot {
	height: 15%;
	width: 100%;
	display: flex;
    flex-direction: row;
    padding: 15px;   
}

.left_foot {
	background-color: blue;
	height: 100%;
	width: 70%;
	float: left;
}

.right_foot {
	background-color: red;
	height: 100%;	
	width: 30%;
	float: left;
}

.inner {
	background-color: black;
	height: 100%;
	width: 70%;
	margin: 0 auto;
	}







