body, html {
	height: 100%;
	margin: 0;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
	font-size: 150%;
}
.right {
	text-align: right;
}

.row {
	width: 80%;
	margin: 0 auto;
}

img {
	float: left;
	margin: 15px;
}

.outro {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	border: solid;
	border-color: black;
}